<h1>NgSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Marcelo'"> soy Marcelo</p>
  <p *ngSwitchCase="'Pedro'"> soy Pedro</p>
  <p *ngSwitchCase="'Juan'"> soy Juan</p>
  <div *ngSwitchDefault>No soy nadie equisde</div>
</div>
<hr>
<h1>Nfgor con Arrays</h1>
<div>
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name">
    <h2> ${{ product.price }}</h2>
    <p> {{ product.name }}</p>
  </div>
</div>
<hr>
<h1>NgFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length === 0"> A llorar nene </li>
  <li *ngFor="let name of names; index as i">{{i}} {{ name }} <button (click)="deleteName(i)">Delete</button></li>
</ul>
<hr>

<h1>NgIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Marcelo'">Soy Marcelo</p>
<p *ngIf="person.name === 'Pedro' && person.age === 27; else myBlock">Soy Pedross</p>

<ng-template #myBlock>
  <p>No soy Pedro equisde</p>
</ng-template>

<hr>

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid {{nameInput.valid}}</p>
<p>Age {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid {{ageInput.valid}}</p>


<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="ageIncrease()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem fugit, veniam aut illo dolore blanditiis
    consequatur excepturi magni earum officiis repellat reiciendis deleniti tempora. Cumque impedit in explicabo
    architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate possimus facere minima magnam,
    est esse explicabo ducimus, iusto dolorum vero dolor id deserunt ipsam eius consequuntur, labore porro molestias?
    Deserunt, laudantium magni alias rerum animi quod commodi similique voluptatem saepe tenetur itaque, perspiciatis
    enim eos, ullam facilis quo aliquid fugit. Ab dicta dolorem beatae magnam assumenda facilis iure officiis.\</p>
</div>
<hr>
<h1>Properties</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre {{ person.name }}</p>
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100">
<hr>
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3+3 }}</p>
<h3>Hola soy {{ name }} y tengo {{ age }} años</h3>
<img src={{img}} alt="imagen" width="200" height="200">
